<launch>

  <!-- Bayer color decoding -->
  <node pkg="nodelet" type="nodelet" name="image_proc_debayer"
        args="load image_proc/debayer camera_nodelet_manager"/>

  <!-- mono rectification -->
  <node pkg="nodelet" type="nodelet" name="image_proc_rect"
        args="load image_proc/rectify camera_nodelet_manager"/>

  <!-- color rectification -->
  <node pkg="nodelet" type="nodelet" name="image_proc_rect_color"
        args="load image_proc/rectify camera_nodelet_manager">
    <remap from="image_mono" to="image_color" />
    <remap from="image_rect" to="image_rect_color" />
  </node>

</launch>